<h1>Books</h1>


<h3>Tltle</h3>
<% @books.each do |book| %>
  <p><%= book.title %></p>
<% end %>

<h3>Body</h3>
<% @books.each do |book| %>
  <p><%= book.body %></p>
    <span><%= link_to 'Show', book_path(book.id) %></span>
    <span><%= link_to 'Edit', book_path(book.id) %></span>
    <a>Destroy</a>
  </span>
<% end %>


