// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1 {
  margin: 0.67em 0 0.67em;
  font-size: 2em;
}

strong {
  font-weight: bold;
}

p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}